# OS
*.DS_Store
._*
*~

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.venv/
venv/
.env

# Testing
.coverage
.pytest*
htmlcov/

# IDE
.vscode/

# Project specific
*.sqlite3
local_settings.json
.encryption_key
users.json
